* {
  box-sizing: border-box;
}

body * {
  font-family: 'Roboto', sans-serif;
}

/* Set padding and max width for text */

/* For the focus: 
- A Firefox bug makes focus outlines disappear, so you must restore them. *A MUST for keyboard users!*
*/

.hidden {
  display: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

a:focus, button:focus, {
  outline: auto 5px -webkit-focus-ring-color;
  box-shadow: 0;
  cursor: pointer;
}

