* {
  box-sizing: border-box;
}

body * {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  padding: 0;
  background: #e99b9194 url("https://imgur.com/7DoXp4U.jpg") repeat 0 0;
  display: block;
}

#main-view {
  margin-top: 5px;
  padding: 0 13px 13px 13px;
}

#new-bookmark-form {
  padding: 0;
  height: 100%;
}

#add-view {
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#subtitle {
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(37, 37, 37);
  text-align: center;
  line-height: 90%;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Sacramento', cursive;
}

h1 {
  /* margin-left: auto;
  margin-right: auto; */
  color: #2a1b6a;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 2.2rem;
  line-height: 87%;
  margin-bottom: 5px;
  text-align: center;
}

#js-bookmarks {
  margin: 15px 0px 15px 0px;
}

.new-bookmark-options {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 20px 0;
}

#header-options {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.view-all {
  width: 170px;
}

#panel-options  {
  display: flex;
  justify-content: space-evenly;
}

#new-bookmark, button, select {
  font-size: 100%;
  font-family: inherit;
  background: none;
  border: .5pt grey solid;
}

#filter-select-label {
  opacity: 0;
}

#filter-select {
  padding: 5px 15px 0px 25px;
}

#new-bookmark {
  padding: 5px 15px 0px 10px;
}

#page-title {
  margin-bottom: 0;
  line-height: 90%;
  font-size: 25pt;
  background-color: #e99b917e;
  border-radius: 0.5rem 0;
}

#new-bookmark-url {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  height: 35px;
  padding: 2px 2px 2px 15px;
  border: 2pt solid black;
  border-radius: 5em;
}

#first-fieldset {
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 2pt black solid;
  border-radius: 1rem 1rem 3rem 3rem;
  background: #e99b917e;
}

#new-bookmark-title {
  width: 100%;
  border: none;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1.5pt black solid;
  height: 35px;
  padding: 0 0 0 15px;
}

#new-bookmark-description {
  width: 93%;
  min-height: 180px;
  margin: 0 10px;
  padding: 5px;
  font-size: 90%;
  border: 1.5pt black solid;
  border-radius: 0.2rem;
}

#cancel-new, #submit-new {
  font-size: 140%;
  padding: 5px 20px;
  border: 1.5pt black solid;
  border-radius: 50%;
}

#filter-select, #new-bookmark, #bm-url {
  box-shadow: 5px 5px black;
  border-radius: 50%;
}

#filter-select, #new-bookmark {
  background: #FCC875;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 150%;
}

#bm-url, #cancel-new, #submit-new {
  font-family: 'Sacramento', cursive;
  font-weight: 600;
  background: rgba(252, 200, 117, 0.616);
}

#bm-url {
  height: 30px;
  width: 60%;
  padding: 5px, 10px, 0px, 5px;
  font-size: 16pt;
}

.bm-delete {
  font-size: 20pt;
  padding: 0px 10px 0px 10px;
  border:none;
}

.hidden {
  display: none;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Sacramento', cursive;
}
/* For the focus: 
- A Firefox bug makes focus outlines disappear, so you must restore them. *A MUST for keyboard users!*
*/

a:focus, button:focus {
  outline: auto 5px -webkit-focus-ring-color;
  box-shadow: 0;
  cursor: pointer;
}

/*The below are all styles for the accordian. Edit later*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  width: 100%;
  text-align: left;
  /* border: 1this.classList.toggle('active');pt darkgray solid; */
  outline: none;
  transition: 0.4s;
}

button:hover,#new-bookmark:hover,#filter-select:hover {
  transform: translate(-2px,-2px); 
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px;
  background-color: white;
  border-left: 1pt #e99b9194 solid;
  border-left: 1pt #e99b9194 solid;
  display: none;
  overflow: hidden;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color: white;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #2a1b6a;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #FCC875;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #090422;
}

#new-bookmark-rating {
  margin-left: 58px;
  margin-right: 58px;
  width: 172px;
  border: none;
}

@media screen and (min-width: 350px) {
  #header-options {
    justify-content: space-between;
  }

  #new-bookmark-rating {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media screen and (min-width: 425px) {
  #page-title {
    padding: 0 0 0 10px;
    font-size: 27pt;
  }

  #new-bookmark-rating {
    margin-left: 105px;
    margin-right: 105px;
  }

  #header-options {
    height: 50px;
    justify-content: space-between;
  }

  #new-bookmark {
    height: 50px;
    font-size: 150%;
  }

  .view-all {
    width: 238px;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 765px;
    margin-left: auto;
    margin-right: auto;
  }

  #view-all {
    font-size: 130%;
  }

  #new-bookmark-rating {
    height: 45px;
    margin-top: 3px;
    margin-left: 258px;
    margin-right: 258px;
  }

  #new-bookmark-description {
    width: 97%;
  }

  #panel-options {
    justify-content: space-between
  }
}

@media screen and (min-width: 1024px) {  
  #header-options {
    height: 34px;
    margin-top: 50px;
  }
  
  #filter-select-label {
    margin-right: 10px;
    line-height: 90%;
    font-family: 'Sacramento', cursive;
    font-size: 160%;
    font-style: italic;
    font-weight: 550;
    opacity: 100;
  }

  #filter-select {
    font-size: 100%;
  }

  #new-bookmark {
    font-size: 100%;
    height: 30px;
  }  

  .view-all {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #header-options {
    margin-bottom: -5px;
  }
}