* {
  box-sizing: border-box;
}

body * {
  font-family: 'Roboto', sans-serif;
}
/* 
a color set I liked: 
https://coolors.co/3c3744-090c9b-3066be-b4c5e4-fbfff1 */

#main-view {
  padding: 0 10px 10px 10px;
}

#add-view {
  padding: 0 10px 10px 10px;
}

h1 {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}
/* Set padding and max width for text */


.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

button, select {
  font-size: 100%;
  font-family: inherit;
  background: none;
  border: .5pt grey solid;
  padding: 5px 10px 5px 10px;
}

.hidden {
  display: none;
}

/* For the focus: 
- A Firefox bug makes focus outlines disappear, so you must restore them. *A MUST for keyboard users!*
*/

a:focus, button:focus, {
  outline: auto 5px -webkit-focus-ring-color;
  box-shadow: 0;
  cursor: pointer;
}

/*The below are all styles for the accordian. Edit later*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: .5pt darkgray solid;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 5px;
  background-color: white;
  outline: 1pt darkgray solid;
  display: none;
  overflow: hidden;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}